<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue修饰符</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    <form v-on:submit.prevent="onSubmit">
        name : <input type="text" v-model="name"> <br>
        age : <input type="text" v-model="age"> <br>
        提交 : <input type="submit" value="提交">
    </form>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            name: "",
            age: ""
        },
        methods: {
            onSubmit: function () {
                localStorage.setItem("name" , this.name)
                console.log([this.name , this.age]);
            }
        }
    })
</script>
</html>